/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/upload
/composer.lock
/public/common_business_qr_codes
/public/common_user_qr_codes
ErrorFiles
/public/u.php
/public/page-cache
/public/neditor
